Checks: 'clang-analyzer-*,llvm-*,cppcoreguidelines-*,concurrency-*,performance-*'
HeaderFileExtensions: ['h']
ImplementationFileExtensions: ['cpp']
FormatStyle: LLVM
InheritParentConfig: true
CheckOptions:
  cppcoreguidelines-pro-bounds-constant-array-index.IncludeStyle: llvm
  cppcoreguidelines-init-variables.IncludeStyle: llvm
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true